@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    nav .nav-links ul {
        display: none;
    }

    nav .nav-links > i {
        display: block;
    }

    .navbar > img {
        display: none;
    }

    .banner-container,
    #service .cards-container .card {
        flex-direction: column;
    }

    #service .cards-container .card:nth-child(2) .img-wrapper {
        height: 70%;
    }

    #service .cards-container .card:nth-child(2) .img-wrapper img {
        height: 100%;
    }

    .jackets-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    #service .service-content{
        flex-direction: column-reverse;
    }

    #service .cards-container {
        width: 100%;
    }
}